*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
header{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:black ;
}
.logo{
    color:white;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
}
span{
    color: red;
}
.navbar .ul-list{
    display: flex;
    gap: 40px;
}
.navbar .ul-list li{
    line-height: 80px;
}
.navbar .ul-list li a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar .ul-list li a:hover,a:active{
    color: red;
}


/* ============ icon button ============= */

.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}
.mobile-nav-icon{
    width: 40px;
    height: 40px;
    color: white;
}
.mobile-nav-icon[name="close-outline"]{
    display: none;
}


/* ================= Main section ================= */

main{
    width: 100%;
    height: 70vh;
    background-color: aquamarine;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
main h1{
    font-size: 50px;
}



/* =============== for responsive ============== */

@media (max-width:980px){
    .logo{
        color:white;
        font-size: 30px;
    }
    .navbar .ul-list li a{
        color: white;
        font-size: 15px;
    }
    main h1{
        font-size: 40px;
    }
}

@media (max-width:860px){
    .mobile-navbar-btn{
        display: block;
        z-index: 999;

    }
    .navbar .ul-list li a{
        font-size: 20px;
    }
    header{
        position: relative;
    }
    .navbar{
        width: 100%;
        height: 85vh;
        background: black;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;
    }
    .navbar .ul-list{
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display: block;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }


}